@font-face {
    font-family: 'FC';
    src: url('FicticciaCollege.woff2') format('woff2'),
        url('FicticciaCollege.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HP';
    src: url('HennyPenny-Regular.woff2') format('woff2'),
        url('HennyPenny-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Griffy';
    src: url('Griffy-Regular.woff2') format('woff2'),
        url('Griffy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HP2';
    src: url('HennyPenny-Regular.woff2') format('woff2'),
        url('HennyPenny-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EA';
    src: url('Easilyamused.woff2') format('woff2'),
        url('Easilyamused.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'DID';
    src: url('DrippedInkDemoRegular.woff2') format('woff2'),
        url('DrippedInkDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CDO';
    src: url('ComikDemoOutline.woff2') format('woff2'),
        url('ComikDemoOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CD';
    src: url('ComikDemoRegular.woff2') format('woff2'),
        url('ComikDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CDT';
    src: url('ComikDemoTexture.woff2') format('woff2'),
        url('ComikDemoTexture.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB';
    src: url('sarahbetty.woff2') format('woff2'),
        url('sarahbetty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SB2';
    src: url('sarahbetty.woff2') format('woff2'),
        url('sarahbetty.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JTD';
    src: url('JungleTribeDemoRegular.woff2') format('woff2'),
        url('JungleTribeDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'edo_szregular';
    src: url('edosz-webfont.woff2') format('woff2'),
         url('edosz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sg';
    src: url('SimpleGrungeRegular.woff2') format('woff2'),
        url('SimpleGrungeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'tbs';
    src: url('TheBackyardScript.woff2') format('woff2'),
        url('TheBackyardScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bearded';
    src: url('Bearded.woff2') format('woff2'),
        url('Bearded.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saucer';
    src: url('SaucerBB.woff2') format('woff2'),
        url('SaucerBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fontera';
    src: url('Fontera.woff2') format('woff2'),
        url('Fontera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ftg';
    src: url('FrederickatheGreat-Regular.woff2') format('woff2'),
        url('FrederickatheGreat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'is';
    src: url('IntriqueScriptPersonalUse.woff2') format('woff2'),
        url('IntriqueScriptPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


